.navigation-bar{
    border: 1px solid black;
    width: 70%;
}
.navigation-lists{
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: relative;
}
.navigation-lists .nav-item{
   background: rgb(234, 106, 127);
   padding: 10px;
   cursor: pointer;
}
/* .navigation-lists li:hover{
    background-color: rgb(106, 141, 141);
} */
.sub-lists{
    display: none;
    position: absolute;
    margin-top: 12px;
    list-style: none;
}
.sub-lists li {
    padding: 2px;
    background: gray;
}
.show-sublist{
    display: block;
}