.wrapper {
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blocks {
    flex: 1 300px;
    height: 75px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background: red;
    font-size: 40px;
    color: #fff;
}