    

.progress-bar-container {
    height: 30px;
    width: 70%;
    border: 1px solid black;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.progressBar {
    background-color: aqua;
    height: 100%;
    transform: translateX(-100%);
    /* transition: width 2s ease; */
    transition: transform 2s ease;
}   


.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    top: 50%;
    transform: translateY(-50%);
}

.async-progressBar {
     background-color: aqua;
    height: 100%;
    /* transform: translateX(-100%); */
}